<div class='lightbox__content'>
  <img class='lightbox__image' src='{{largeImageURL}}' alt='{{tags}}' />
  <div class='lightbox__info'>
    <button
      type='button'
      class='lightbox__button lightbox__button--close'
      data-action='close-lightbox'
    ></button>
    <div class='more-info'>
      <p class='info-item'>
        <span>{{likes}}</span><span class='material-icons'>favorite</span>
      </p>
      <p class='info-item'>
        <span>{{views}}</span><span class='material-icons'>visibility</span>
      </p>
      <p class='info-item'>
        <span>{{comments}}</span><span class='material-icons'>textsms</span>
      </p>
      <p class='info-item'>
        <span>{{downloads}}</span><span class='material-icons'>cloud_download</span>
      </p>
    </div>
  </div>
</div>