{{#each this}}
  <li class='gallery-card' href='{{largeImageURL}}'>
    <img
      class='gallery-card__img'
      src='{{webformatURL}}'
      alt='{{tags}}'
      loading='lazy'
      id='{{id}}'
      data-src='{{largeImageURL}}'
    />

    <div class='info'>
      <div class='info__thumb'>
        <p class='info-item'>
          <span>{{likes}}</span><span class='material-icons'>favorite</span>
        </p>
        <p class='info-item'>
          <span>{{views}}</span><span class='material-icons'>visibility</span>
        </p>
        <p class='info-item'>
          <span>{{comments}}</span><span class='material-icons'>textsms</span>
        </p>
        <p class='info-item'>
          <span>{{downloads}}</span><span class='material-icons'>cloud_download</span>
        </p>
      </div>

      <div class='blur' style='background-image: url({{webformatURL}})'></div>
    </div>
  </li>
{{/each}}